.navigation{
    &__checkbox{
        display: none;
    }
    &__button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        text-align: center;
        cursor: pointer;

        @include respond(tab-port){
            top: 4rem;
            right: 4rem;
        }
        @include respond(phone){
            top: 3rem;
            right: 3rem;
        }
    }
    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0 ,0.07, 1);
        @include respond(tab-port){
            top: 4.5rem;
            right: 4.5rem;
        }
        @include respond(phone){
            top: 3.5rem;
            right: 3.5rem;
        }
    }
    &__nav{
        height: 100vh;
        //width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        width: 0;
        opacity: 0;
        transition: all .8s cubic-bezier(0.68, -0.55,0.265,1.55);
    }
    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        list-style: none;
        transform: translate(-50%,-50%);
        text-align: center;

    }
    &__item{
        margin: 1rem;
    }
    &__link{
        &:link,
        &:visited{
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg,transparent 0%,transparent 50%,$color-white 50%);
        background-size: 215%;
        transition: all ease .4s;


        span{
            margin-right: 1rem;
            display: inline-block;
        }
        }

        &:hover,
        &:active{
            color: $color-primary;
            background-position: 100%;
            transform: translateX(1rem);
        }
        

    }

    &__checkbox:checked ~ &__nav{
        width: 100vw;
        opacity:1;
    }
    &__checkbox:checked ~ &__background{
        transform:scale(80);
    }

    &__icon{
        position: relative;
        margin-top: 3.5rem;
        
        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
            transition: all .2s ease;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left:0;
        }
        &::before{top: -.8rem;}
        &::after{top: .8rem;}
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top:1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before{
        transform: rotate(135deg);
        top: 0rem;
    }
    &__checkbox:checked + &__button &__icon::after{
        transform: rotate(-135deg);
        top: 0rem;
    }
}